# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio && Visual Studio Code
.vs
out

# JetBrain
# .idea
# JetBrain忽略配置的远程服务器信息
.idea/deployment.xml
.idea/webServers.xml

# cmake build debug
cmake-build-debug